@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root {
  --font-main: 'Prompt', sans-serif;
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Prompt', system-ui, sans-serif;
  --heading: 'Prompt', system-ui, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-main);
  background: var(--bg);
  color: var(--text);
  line-height: 145%;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}